#<center>Welcome to Python for Machine Learning</h1></center>

<h2>Section-1: Defining Variables</h2>

<h3>Defining Variables</h3>
<ul><li>In python, Variable Declaration is not allowed.</li>
<li>A variable has to be initialized while declaring it, hence it has to be defined from the first time it appears in the code.</li>
<li>Variables cannot be defined with any specific data-type, it can hold value of any data-type at any time.</li>
<li>Variables can be defined dynamically.</li>
</ul>

<h3>Naming Convetion</h3>
<ul>
<li>A variable name must start with a letter or the underscore character.</li>
<li>A variable name cannot start with a number.</li>
<li>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).</li>
<li>Variable names are case-sensitive (age, Age and AGE are three different variables).</li></ul>

In [ ]:
a = 10
_a = 15
A = 5
print(a, _a, A)

10 15 5

In [ ]:
1_a = 5

SyntaxError: ignored

<h5></h5>

<h2>Basic Data-types</h2>
<h3>List of commonly used data-types in python</h3>
<ul>
<li>Integer</li>
<li>Float</li>
<li>String</li>
<li>Tuple</li>
<li>Dictionary</li>
<li>List</li>
</ul>

<h4>Integer</h4>

In [ ]:
a = 5
b = 10
print(a+b)

15

<h4>Float</h4>

In [ ]:
a = 1.7
b = 7.
c = .09

print(a,b,c)

1.7 7.0 0.09

<h4>String</h4>

In [ ]:
a = 'Immutable'
print(a[0],a[-1],a.upper(),len(a))

I e IMMUTABLE 9

<h4>Tuple</h4>

In [ ]:
a = ('Immutable',4,1.5)
print(a,a[0],a[-1])

a = (1,2,3,4,5)
print(sum(a))

('Immutable', 4, 1.5) Immutable 1.5
15

<h4>Dictionary</h4>

In [ ]:
a = {'key':5,1.7:'value',9:7}
print(a)

#adding elements in dictionary
dict_name[key] = value

{'key': 5, 1.7: 'value', 9: 7}

<h4>List</h4>

In [ ]:
a = [1,1.5,'hello',{'z':12},(2.4,5,'hello'),[1,2,4]]
print(a)

#adding elements to the list
list_name.append(element)

[1, 1.5, 'hello', {'z': 12}, (2.4, 5, 'hello'), [1, 2, 4]]

<h5></h5>

<h2>Conditional Statements and Loops</h2>
<h3>In python, indentation is used to define scope rather than brackets</h3>

<h3>Conditional Statements</h3>
<ul>
<li>if-else</li>
<li>if-else ladder</li>
<li>nested if-else</li>
</ul>

In [ ]:
if True:
  print('statement-1')
else:
  print('statement-2')

statement-1

In [ ]:
if False:
  print('Statement-1')
elif False:
  print('Statement-2')
elif False:
  print('Statement-3')
else:
  print('Statement-4')

Statement-4

In [ ]:
if True:
  if False:
    print('statement-1')
  else:
    print('statement-2')
else:
  print('statement-3')

statement-2

<h3>Loops</h3>
<ul>
<li>For loop</li>
<li>While loop</li>
</ul>

For loop syntax:<br><br>

for value in iterator:<br>
> statements

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

while Loop syntax:<br><br>
while {condition}:
>statements

In [ ]:
i=0
while True:
  i = i+1
  print(i)
  if i>5:
    break

1
2
3
4
5
6

<h3>List Comprehension</h3>

<h4>We can combine lists and for-loops so that we can create list which is based on iterative values</h4>

In [ ]:
a = [(i,j) for i in range(5) for j in range(5)]
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4)]

<h3>Slicing</h3>
<h4>To access a part of list, we can slice a list from start point(index) to end point(index)</h4>

In [ ]:
# listname[start_index:end_index+1,jump(optional: default 1)]
a = [1,2,3,4,5,6,7,8,9,0]
print(a[5:9])
print(a[:9])
print(a[5:])
print(a[3:8:2])
print(a[-5:-1])
print(a[2:-1])
#a[-3:5] invalid if start_index is on right side of end_index
print(a[-5:8])
print('Result of negative jump',a[::-1])

[6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[6, 7, 8, 9, 0]
[4, 6, 8]
[6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[6, 7, 8]
Result of negative jump [0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

<h2>Operators</h2>

<ul>
<li>Arithmetic operators</li>
<li>Assignmnet operators</li>
<li>Comparison operators</li>
<li>Logical operators</li>
<li>Identity operators</li>
<li>Membership operators</li>
<li>Bitwise operators</li>
</ul>

<h4>Arithmetic operators</h4>

In [ ]:
a = 5 + 10 #-> 15
b = 10 - 5 #-> 5
c = 10 * 5 #-> 50
d = 10 / int(9) #-> 1.11
e = 10 // 9. #-> 1.0
f = 10 ** 3 #-> 1000
g = 10 % 7 #-> 3

print(a,b,c,d,e,f,g)

15 5 50 1.1111111111111112 1.0 1000 3

<h4>Assignment operator</h4>

<h5>It can be combined with arithmetic operators to assign the result of arithmetic expression directly into the variable on which the expression was performed</h5>

In [ ]:
a = 10
print(a)
a += 15
print(a)

10
25

<h4>Comparison Operator</h4>

In [ ]:
print(10 == 10)
print(10 != 10)
print(10 > 10)
print(10 < 20)
print(10 >= 10)
print(10 <= 5)

True
False
False
True
True
False

<h4>Logical Operator</h4>
<ul>
<li>And</li>
<li>Or</li>
<li>Not</li>
</ul>

In [ ]:
print(True and True)
print(False or False)
print(not False)

True
False
True

<h4>Identity and Membership Operator</h4>
<ul>
<li>Identity - is</li>
<li>Membership - in</li>
</ul>

In [ ]:
a = 5
print(a is 5)

True

In [ ]:
a = [1,2,3,4,5]
print(5 in a)

True

<h2>Functions</h2>

<h3>Syntax</h3>

<br>
def function_name(arguements):<br>

> statements

In [ ]:
def function(a,b=8):
  if isinstance(a,(int,float)):
    print(a+b)

function(5)

13

In [ ]:
def function(a=5,b=8):
  return a+b

print(function())

13

<h2>Classes and Object</h2>

<h3>Syntax</h3><br>
class class_name():

>data_members<br>
>member_functions

<h4> data_members: class variables<br>
member_functions: class functions<br>
</h4>
<br>
<h4>
Classes and Objects can be easily understood by the below given examples:<br>

We all know that we have to make practical files for all subjects. The format of the practical file can be viewed as 'Class' and files of each student can be viewed as 'Object' of the Class, as all the files will follow same template(formatting).<br>

Constructor is used to create an object of the existing class where all data members and member functions are initialized.
</h4>

In [ ]:
class example():
  
  #contructor
  def __init__(self,a=5,b=10):
    self.a = a
    self.b = b
    self.sum = a+b
  
  def print_sum(self):
    print(self.sum)

example_1 = example(10,7)
example_1.print_sum()
example_2 = example(90,10)
example_2.print_sum()
example_3 = example(5,6)
example_3.print_sum()

17
100
11

<h2>Inheritance</h2>
<br>
<h3>Inheritance is the concept where we can use the member functions and data members of one class in other class. It's meaning is literally as the name suggests, the child class inherits methods and variables from parent class and use it anytime.</h3>

<br>
<h3>
Super keyword is used to access Parent class methods which can overlap with child class
</h3>

In [ ]:
class parent():

  def __init__(self,p_a,p_b):
    self.a = p_a
    self.b = p_b
    self.sum = p_a + p_b
  
  def print_sum(self):
    print(self.sum)


class child(parent):

  def __init(self,c_a,c_b):
    super(child,self).__init__()
    self.a = c_a
    self.b = c_b
    self.sum = c_a + c_b

parent_object = parent(4,5)
parent_object.print_sum()
child_object = child(10,10)
child_object.print_sum()

9
20

<h2>Numpy</h2>

<h3>Python has no support for in-built arrays, hence generally lists are used as arrays. But lists have high memory consumption. Therefore we use "Numpy" library to use arrays which has low memory consumption and are fast. "Numpy" provides multi-dimensional array support and in-built functions to manipulate the arrays in all possible ways, which is why "Numpy" is used whenever we are doing machine learning.</h3>

In [ ]:
# import the libaray "Numpy" in your workspace
import numpy as np #import numpy as {alias}

In [ ]:
# defining numpy arrays
# we can just past a python "list" as an arguement in constructor of numpy.array class which will give us numpy.array object with passed "list" elements as array elements

a = np.array([1,2,3,4,5])
print(a)

[1 2 3 4 5]

In [ ]:
# basic array manipulative functions in numpy
print('Array dimensions:',a.shape)

print('Array reshape:',a.reshape(1,5,1))
print('Array shape after reshaping:',a.reshape(1,5,1).shape)

print('Note that the product of arguements passed in "reshape" function should be equal to the product of all dimensions of the initial array')

Array dimensions: (5,)
Array reshape: [[[1]
  [2]
  [3]
  [4]
  [5]]]
Array shape after reshaping: (1, 5, 1)
Note that the product of arguements passed in "reshape" function should be equal to the product of all dimensions of the initial array

In [ ]:
# Defining array data-type while defining the array
a = np.array([1,2,3,4,5],dtype=np.float32)
print(a)

[1. 2. 3. 4. 5.]

<h3>Data types in numpy</h3>
<h4>Numpy supports a long list of data-types. Multiple variations of Integer, Float, String etc.<br>
You can check the data-types here:<br>

> https://numpy.org/devdocs/user/basics.types.html</h4>

In [ ]:
# number of dimensions of the array
print('#Dimensions of Array:',np.ndim(a))
print('After reshaping it to 3 dimensional array:',np.ndim(a.reshape(1,5,1)))

#Dimensions of Array: 1
After reshaping it to 3 dimensional array: 3

In [ ]:
#Sorting and getting indices of the sorted array
a = np.array([4,7,3,9,46,6,1,6,43,63,8])
print('Array:',a)
print('Sorting a array:',np.sort(a))
print('Indices in sorted manner of the array without actually sorting the array:',np.argsort(a))

Array: [ 4  7  3  9 46  6  1  6 43 63  8]
Sorting a array: [ 1  3  4  6  6  7  8  9 43 46 63]
Indices in sorted manner of the array without actually sorting the array: [ 6  2  0  5  7  1 10  3  8  4  9]

In [ ]:
# Minimum, Maximum, Indices of minimum and maximum
print('Array:',a)
print('Minimum:',a.min())
print('Maximum:',a.max())
print('Index of Minimum:',a.argmin())
print('Index of Maximum:',a.argmax())

Array: [ 4  7  3  9 46  6  1  6 43 63  8]
Minimum: 1
Maximum: 63
Index of Minimum: 6
Index of Maximum: 9

In [ ]:
# expanding dimensions across the axis
print('Array:',a,'\nArray shape:',a.shape)
print('Increasing the number of dimensions of array:',np.expand_dims(a,axis=1))
print('Shape after using np.expand_dims():',np.expand_dims(a,axis=1).shape)

Array: [ 4  7  3  9 46  6  1  6 43 63  8]
Array shape: (11,)
Increasing the number of dimensions of array: [[ 4]
 [ 7]
 [ 3]
 [ 9]
 [46]
 [ 6]
 [ 1]
 [ 6]
 [43]
 [63]
 [ 8]]
Shape after using np.expand_dims(): (11, 1)

<center><h1>Thank You</h1></center>